{% extends 'main.html' %}
{% block content %}

<style>
    table,th,td{
        outline: 1px solid rgb(255, 255, 255);
        padding: 10px !important;
    }
    .button-unclicked{
	width:35px;
    height: 35px;
    color: rgb(0, 0, 0) !important;
    border:3px solid white !important;
    background-color: black !important;
    }
    .button-clicked{
    width:35px;
    height:35px;
    border:3px solid white !important;
    color: rgb(255, 255, 255) !important;
    background-color: black !important;
    }
</style>

<script type="text/javascript">

    $(document).ready(function(){
        $("#staticBackdrop").modal('show');
    });

</script>


<h3 class="mb-4" >View Tasks</h3>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Task</th>
            <th>Remarks</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                {% if task.status == "Incomplete" %}
                <th><a href="{% url 'updatestatus' task.id %}"><button class="button-unclicked p-0"><i class="text-center bi bi-check h3"></i></button></a></th>
                {% else %}
                <th><a href="{% url 'updatestatus' task.id %}"><button class="button-clicked p-0"><i class="text-center bi bi-check h3"></i></button></a></th>
                {% endif %}

                <th class="h5">{{ task.task }}</th>
                <th class="h5">{{ task.remarks }}</th>
                {% if task.status == "Incomplete" %}
                    <th class="text-danger h5">{{ task.status }}</th>
                {% else %}
                    <th class="text-success h5">{{ task.status }}</th>
                {% endif %}
                <th><a href="{% url 'deletetasks' task.id %}"><i class="bi bi-trash3-fill text-danger h5"></i></a></th>
                <th><a href="{% url 'updatetasks' task.id %}"><i class="bi bi-pencil-square text-success h5"></i></a></th>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if delete %}
        <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header ">
                <h5 class="modal-title text-center" id="staticBackdropLabel">Confirm Delete</h5>
            </div>
            <div class="modal-body text-center">
            Are you sure you want to remove the task ?
            </div>
            <div class="modal-footer justify-content-center">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Yes" class="btn btn-primary">
                </form>
                <a href="{% url 'viewtasks' %} " class="btn btn-secondary text-white">No</a>

            </div>
        </div>
        </div>
    </div>
{% endif %}

{% endblock content %}